<h1>Name: @Model.Name</h1>
@if (Model.PicUrl.Length > 6)
{
  <img src="@Model.PicUrl" alt="Doggo Pic" width=60%>
}
<p>Breed: @Model.Breed</p>
<p>Age: @Model.Age</p>
<p>Gender: @Model.Gender</p>

@Html.ActionLink("Home", "Index")